@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Bonjour je fais des tests d'ASP NET'</p>
    @Model.Count
</div>
